@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
:root {
    --dark-blue: #1b2459;
    --light-gray: #e2e3eb;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-image: url("./img/background.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: "DM Sans", sans-serif;
    display: flex;
    flex-direction: column;
    
}

/* top most nav styling */
.top {
    min-width: 100%;
    font-weight: 900;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: var(--dark-blue);
    background-color: var(--light-gray);
    overflow: hidden;
}

.title {
    font-size: 1.8rem;
    padding: 20px 0px 20px 40px;
    background-color: var(--light-gray);
    margin-right: auto;
}

.start a {
    font-size: 1.5rem;
    padding-top: 30px;
}
.start .log-in {
    padding: 20px 20px 20px 100px; 
    color: var(--dark-blue);
}
.start .reg {
    padding: 25px 40px 25px 40px;
    background-color: var(--dark-blue);  
    color: var(--light-gray);
}

/* main nav styling */
.main-nav {
    background-color: var(--white);
    padding: 10px 0px 10px 60px;

}
.menu {
    display: flex;
    justify-content: space-evenly;
    max-width: 75vh;
}

.menu li {
    
    position: relative;
    list-style: none;
    
}

.menu li a {
    color: var(--dark-blue);
    border: 10px solid transparent;
    
}

.menu li a:hover {
    background-color: var(--light-gray);
    border-color: var(--light-gray);
}
